body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
  	text-shadow: 0px 0px 10px rgba(0,0,0,1);
  	background-color: black;
  	color: white;
  	background: black url("../images/background2.png") no-repeat fixed center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
h1 {
	font-weight: normal;
	font-size: 5em; 
	margin: 0;
}
h2 {
	margin-top: 15px;
}
p {
	text-align: justify;
	padding: 0px 30px 14px 30px;
	line-height: 175%;
	font-weight: bold;
}
hr {
  width: 50%;
  border: 0;
  height: 1px;
  margin-bottom: 40px;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}
#header {
	width: 100%;
	text-align: center;
	color: white;
}
#navbar {
	text-align: center;
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 10px 0px 20px 0px;
	overflow: hidden;
}
#navbar li {
	display: inline;
}
#navbar a {
	text-decoration: none;
	text-transform: uppercase;
	color: white; 
	margin-right: 20px;
	margin-left: 20px;
	font-size: 1em;
}
#navbar a:hover {
	border-top: 4px double #ccc !important;
	border-bottom: 4px double #ccc !important;
}
#current {
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;
}
#col1, #col2 {
	text-align: center;
}
#col1 {
	float: left;
	width: 44%;
}
#col2 {
	float: right;
	width: 55%;
	/*background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255,255,255,0.5);*/
}
#wrapper {
	margin: auto;
	width: 1181px;
	height: 614px;
	background-color: rgba(0,0,0,0.6);
	border: 1px solid rgba(255,255,255,0.5);
	overflow: hidden;
}
#wrapperClear {
	margin: auto;
	width: 1000px;
	height: 80%;
	overflow: hidden;
}
#gallery {
	list-style-type: none;
	padding: 10px;
	margin: 0;
	text-align: center;
}
#gallery li {
	display: inline-block;
	padding: 5px;
}
#gallery li img {
	width: 180px;
	height: 135px;
}
#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	background-color: black;
	opacity: 0.95;
	display: none;
}
#frameContainerFixed {
	display: none;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
}
#frameContainer {
	display: none;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
#frame {
	width: 90%;
	height: 90%;
	margin: auto;
	display: none;
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: contain;
  	vertical-align: middle;
}
#caption {
	display: none;
	position: fixed;
	color: white;
	bottom: 5px;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
}
footer {
	text-align: center;
	width: 100%;
	font-size: 0.8em;
	position: absolute;
	padding-top: 40px;
}
footer > a {
	text-decoration: none;
	color: white;
}
#left {
	display: none;
	position: fixed;
	margin-left: 10px;
	width: 25px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	opacity: 0.3;
}
#right {
	display: none;
	position: fixed;
	margin-right: 10px;
	width: 25px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	opacity: 0.3;
	right: 0px;
}
#gallery li img:hover {
	cursor: pointer;
}
#right:hover, #left:hover {
	cursor: pointer;
	opacity: 0.9;
}
#col1 > img {
	margin: 80px 0px;
	width: 399px;
	height: 336px;
}

@media screen and (max-width: 1280px) {
	#wrapper {
		width: 793px;
		height: 914px;
	}
}
@media screen and (max-width: 1000px) {
	#wrapperClear {
		width: 100%;
	}
	#col1, #col2 {
		float: none;
		width: 100%;
	}
	#col2 {
		width: 650px;
		margin: auto;
	}
	#col1 > img {
		margin: 20px 0px;
	}
}
@media screen and (max-width: 900px) {
	#wrapper {
		width: 599px;
		height: 1214px;
	}
}
@media screen and (max-width: 700px) {
	#wrapper {
		width: 405px;
		height: 1814px;
	}
	#navbar li {
		display: block;
		padding: 5px 0px;
	}
	#current {
		border-top: none;
		border-right: 1px solid #ccc;
		border-bottom: none; 
		border-left: 1px solid #ccc;
		padding: 0px 5px;
	}
	#navbar {
		padding-bottom: 10px;
	}
	hr {
		margin-bottom: 30px;
	}
	h1 {
		font-size: 3.5em;
	}
	#col2 {
		width: 90%;
	}
	#col1 > img {
		margin: 0px;
		width: 58.505%;
		height: auto;
	}
}
@media screen and (max-width: 450px) {
	#wrapper {
		width: 213px;
		height: 3614px;
	}
}