body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
  	text-shadow: 0px 0px 10px rgba(0,0,0,1);
  	background-color: black;
  	color: white;
  	background: black url("../images/background.png") no-repeat fixed center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
h1 {
	font-weight: normal;
	font-size: 5em; 
	margin: 0;
}
hr {
  width: 50%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}
#header {
	width: 100%;
	text-align: center;
	color: white;
}
#navbar {
	text-align: center;
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 10px 0px 20px 0px;
	overflow: hidden;
}
#navbar li {
	display: inline;
}
#navbar a {
	text-decoration: none;
	text-transform: uppercase;
	color: white; 
	margin-right: 20px;
	margin-left: 20px;
	font-size: 1em;
}
#navbar a:hover {
	border-top: 4px double #ccc;
	border-bottom: 4px double #ccc;
}
#wrapper {
	margin: auto;
	width: 80%;
	height: 80%;
	background-color: rgba(255,255,255,0.075);
	border: 1px solid rgba(255,255,255,0.5);
	overflow: hidden;
}
#gallery {
	list-style-type: none;
	padding: 10px;
	margin: 0;
	text-align: center;
}
#gallery li {
	display: inline-block;
	padding: 5px;
}
#gallery li img {
	width: 180px;
	height: 135px;
}
#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity: 0.95;
	display: none;
}
#frameContainerFixed {
	position: fixed;
	left: 0px;
	top: 0px;
}
#frameContainer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#frame {
	width: 90%;
	height: 90%;
	margin: 0 auto;
	display: none;
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: contain;
}
#caption {
	display: none;
	position: fixed;
	color: white;
	top: 96%;
	left: 50%;
}
footer {
	text-align: center;
	width: 100%;
	font-size: 0.8em;
	position: absolute;
	padding-top: 40px;
}
#left {
	display: none;
	position: fixed;
	margin-left: 20px;
	width: 50px;
	height: 80px;
	top: 50%;
	margin-top: -40px;
	opacity: 0.5;
}
#right {
	display: none;
	position: fixed;
	margin-right: 20px;
	width: 50px;
	height: 80px;
	top: 50%;
	margin-top: -40px;
	right: 0px;
	opacity: 0.5;
}
#left:hover, #right:hover, #gallery li img:hover {
	cursor: pointer;
}